{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}
<tr>
    <td valign="top">

        <table width="600px" border="0px" align="center">
            <tbody>
            <tr>
                <td valign="top">
                    <h2>О цене и ценности книг</h2>
                    <p>На нашем сайте вы можете купить редкие и малотиражные издания постсоветского периода. Основная
                        трудность
                        для распространителей подобной литературы состоит в том, что, к сожалению, далеко не весь
                        полученный
                        авторами и издателями тираж попадает в магазины. Иногда предназначенная для продажи часть тиража
                        настолько мала, что книга доходит до нас в одном-двух экземплярах. В этом случае
                        библиографическое
                        описание сопровождается отметкой «единственный экземпляр». Эта отметка в сочетании с указанием
                        на малый
                        тираж иногда (но, конечно, не всегда) свидетельствует об особой ценности книги.</p>
                    <h3>Цена на книги</h3>
                    <p>Что же такое ценность книги, и как она соотносится с ценой? Набрав в поисковике название
                        какой-нибудь не
                        слишком редкой книги (которая имеется не только у нас, но и на других сайтах) вы можете легко
                        убедиться
                        в том, что цены на книги у нас ниже, чем в среднем по московскому рынку. И это естественно,
                        поскольку
                        сам московский рынок не является свободным. Сверхвысокие московские цены (препятствующие
                        нормальному
                        обороту книг) образовались и продолжают образовываться в результате «особых» отношений между
                        оптовыми
                        поставщиками и крупнейшими розничными магазинами.</p>
                    <h3>Ценность книг</h3>
                    <p>В отличие от цен на книги, цены на картины или, например, на грампластинки, учитывают их рыночную
                        ценность не только через один десяток лет, но и на протяжении грядущего столетия. Хотя многие
                        издания
                        1990-2000-х гг. отпечатаны малыми и сверхмалыми тиражами, рынок пока не воспринимает их как
                        предмет
                        коллекционирования. Цены на них остаются относительно низкими, что чрезвычайно радует редких
                        библиофилов
                        – собирателей современных книг.</p>
                    <p>Но даже среди них пока ещё мало кто задумывается о том, что ценность книги зависит не только от
                        художественного оформления и уникальности собранной в ней информации, но и от тиража, а также от
                        её
                        присутствия в собраниях крупнейших мировых библиотек. Связано это с нависшей над книжным рынком
                        опасностью перевода текстов с бумажного носителя на цифровой.</p>
                    <h3>Стоит ли в таком случае вообще посещать книжные магазины?</h3>
                    <p>Несомненно да, поскольку на протяжении жизни нескольких грядущих поколений, несмотря на
                        интенсивную
                        оцифровку, книги останутся одним из самых надёжных и достоверных носителей информации. Кроме
                        того, все
                        без исключения книги на века останутся памятниками культуры, а некоторые из них – выдающимися
                        примерами
                        художественно-полиграфического искусства.</p>
                    <h3>Когда будет завершена простейшая оцифровка?</h3>
                    <p>Рассмотрим простой пример: в Российской государственной библиотеке, которая, к сожалению,
                        комплектуется
                        последнее время с большими пробелами, находится около 30 млн разных книг и журналов. Когда будут
                        оцифрованы или, правильнее сказать, просто отсканированы в формате pdf эти 30 миллионов?
                        Предположим,
                        что на базе РГБ будет создан центр сканирования, где удастся сканировать одну книгу за 12 минут
                        (сейчас
                        этот процесс продолжается в среднем около часа). С помощью подсчётов легко убедиться, что
                        простейшая
                        оцифровка займёт около 700 (!) лет круглосуточной работы.</p>
                    <p>Ясно, что даже при условии подключения к процессу других библиотек, наличии финансирования и
                        политической
                        воли государственных руководителей, а также деятельности многочисленных энтузиастов, перевод
                        всех книг в
                        цифровой формат – дело довольно отдалённого будущего. Вдобавок, совсем малотиражные (50–200
                        экземпляров)
                        книги могут вообще никогда не сканироваться из-за того, что их предполагаемая аудитория крайне
                        мала.</p>
                    <h3>Редкие книги и крупнейшие библиотеки</h3>
                    <p>Вероятно, в первую очередь и без всякого участия библиотек будут оцифрованы произведения
                        современных
                        писателей и классиков отечественной и мировой литературы, детективы, книги для детей и учебники.
                        Иными
                        словами, издания, которые можно широко и дёшево продавать в виде цифровых копий. Остальная
                        полиграфическая продукция, видимо, будет сканироваться на бюджетные или околобюджетные деньги
                        внутри
                        библиотек. Поэтому отсутствие книги в собраниях крупнейших книгохранилищ сильно снижает
                        вероятность её
                        оцифровки. А значит, существенно повышает её ценность.</p>
                    <h3>Проверка книг по каталогам</h3>
                    <p>Не сочтите за рекламу, но в нашем магазине можно отыскать не одну сотню книг, которые не попали в
                        крупнейшие отечественные и зарубежные библиотеки.</p>
                    <p>Наличие книг в каталогах ведущих библиотек России (РГБ, ГПИБ, РНБ) и мира можно легко проверить
                        по их
                        электронным каталогам. Кроме того, фонды практически всех научных собраний США и Канады
                        учитываются в
                        специальном сводном каталоге под названием WorldCat.</p>
                    <p>Отметим, что новые (выпущенные в текущем и прошлом году) издания могут не успеть дойти до места
                        хранения,
                        поэтому их по электронным каталогам проверять нельзя. Кроме того, при проверке следует учитывать
                        особенности принятой в разных странах латинской транслитерации русского текста.</p>
                    <br>
                    <br>

                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>

{% endblock %}