{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}
<tr>
    <td valign="top">
        <br>
        <table width="600px" align=center border="0px">
            <tr>
                <td valign=top>
                    Производственный кооператив &laquo;Русская деревня&raquo; (Москва, Петровский бульвар, д. 14/29,
                    стр. 3) с 1998 года продает в розницу и мелким оптом редкую и малотиражную литературу.<br><br>
                    В нашем магазине продаются столичные и провинциальные издания по истории, этнографии, археологии,
                    литературоведению, языкознанию, политологии и другим общественным наукам, современная критика,
                    публицистика, а также неформальная <!--и радикальная -->литература различных направлений.<br><br>
                    В разделе &laquo;<a href="{% url 'subscription' %}">Рассылка</a>&raquo; Вы можете оставить свой
                    электронный почтовый адрес для получения уведомлений об обновлении каталога книг.<br><br>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}