{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}

<td valign="top">


    <div align="center"><a href="/?view=cat&amp;id=0">Тематический каталог</a>
        <h2><font color="darkgreen">БУКИНИСТИЧЕСКОЕ ИЗДАНИЕ</font></h2></div>

    <div align="center">Страницы:&nbsp;&nbsp;
        <font size="+1"><b>1</b></font>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=2" title="Страница 2">2</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=3" title="Страница 3">3</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=4" title="Страница 4">4</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=5" title="Страница 5">5</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=6" title="Страница 6">6</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=7" title="Страница 7">7</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=8" title="Страница 8">8</a>
        &nbsp;
        &nbsp;&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;<a href="/?view=cat&amp;id=120&amp;page=26" title="Страница 26">26</a>
        &nbsp;

    </div>
    <div align="center">
        <font color="#808080">
            предыдущая страница</font>
        &nbsp;&nbsp;&nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=2" title="Страница 2">
            следующая страница</a>
    </div>
    <br>
    <table cellspacing="0" cellpadding="5px" border="0">
        <tbody>
        <tr>
            <td class="td02" align="center">Дата<br>поступления</td>
            <td class="td02" align="center">Книга</td>
            <td class="td02" align="center">&nbsp;&nbsp;Цена,&nbsp;р.&nbsp;&nbsp;</td>
        </tr>

        </tbody>
    </table>

    <br>
    <div align="center">Страницы:&nbsp;&nbsp;
        <font size="+1"><b>1</b></font>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=2" title="Страница 2">2</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=3" title="Страница 3">3</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=4" title="Страница 4">4</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=5" title="Страница 5">5</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=6" title="Страница 6">6</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=7" title="Страница 7">7</a>
        &nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=8" title="Страница 8">8</a>
        &nbsp;
        &nbsp;&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;<a href="/?view=cat&amp;id=120&amp;page=26" title="Страница 26">26</a>
        &nbsp;

    </div>
    <div align="center">
        <font color="#808080">
            предыдущая страница</font>
        &nbsp;&nbsp;&nbsp;
        <a href="/?view=cat&amp;id=120&amp;page=2" title="Страница 2">
            следующая страница</a>
    </div>
    <br>


</td>
{% endblock %}