{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}

<td valign="top">


    <br>
    <table width="600px" border="0px" align="center">
        <tbody>
        <tr>
            <td>
                <div valign="top">

                    <b>Новый адрес</b> книжного магазина «Русская деревня» &nbsp;— <a rel="nofollow"
                                                                                      href="https://yandex.ru/maps/213/moscow/house/petrovskiy_bulvar_14/Z04YcAZpQUECQFtvfXt3dnxqbQ==/?ll=37.620256%2C55.767074&amp;z=18.35"
                                                                                      target="_blank"
                                                                                      title="Посмотреть на Яндекс.Картах">Москва,
                    Петровский бульвар, д. 14/29, стр. 3</a>.<br>
                    За дополнительными сведениями просьба обращаться по адресу <a rel="nofollow"
                                                                                  href="mailto:info@hamlet.ru">info@hamlet.ru</a>
                    или&nbsp;телефону 8 (495) 922-60-35.<br>
                    <br>
                    <br>
                    Тут когда то будет карта
                    <br>
                    <br>
                    <!-- Как нас найти: Единственный выход из метро &laquo;Трубная&raquo; находится на Трубной площади. На этой площади самое приметное здание &mdash; театр &laquo;Школа современной пьесы&raquo; (напротив метро, через Петровский бульвар). Метрах в 50 справа от театра расположена автобусная остановка маршрута &laquo;А&raquo; &laquo;Трубная площадь&raquo;. Рядом с остановкой &mdash; старинные деревянные двери, вход в издательство &laquo;Высшая школа&raquo; (прямо под вывеской &laquo;Петровский, 14&raquo;). Следует войти в эти двери, кивнуть охраннику и пройти здание насквозь по извилистому коридору, не поднимаясь по лестнице и никуда резко не сворачивая. Коридор выводит во двор, напротив выхода &mdash; строение 3, с розовым крыльцом в приямке. На 1-м этаже сразу у входа работает наш магазин.<br><br> -->
                    Как нас найти: Единственный выход из метро «Трубная» находится на Трубной площади. На этой площади
                    самое приметное здание — театр «Школа современной пьесы» (напротив метро, через Петровский бульвар).
                    Идите прямо по улице Неглинной вдоль театра до конца здания. Затем войдите в большие ворота между
                    зданием театра и рестораном «Узбекистан». За стоянкой поверните направо, метрах в 30 находится
                    флигель – строение 3, с розовым крыльцом в приямке. На 1-м этаже сразу у входа работает наш магазин.<br><br>
                    <div align="center">
                        {% load static %}
                        <img src="{% static 'main/images/map-building-10.jpg' %}"><br><br>
                        <img src="{% static 'main/images/map-building-11.jpg' %}"><br><br>
                        <img src="{% static 'main/images/map-building-5.jpg' %}"><br><br>
                        Москва, Петровский бульвар, д. 14/29, стр. 3.
                    </div>

                    <br>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</td>
{% endblock %}