{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}

<td valign="top">


    <div align="center"><font size="+1"><b>В датированном каталоге отражаются все регулярные поступления новых книг,
        кроме единственных экземпляров, букинистических изданий и авторефератов</b></font></div>
    <br>

    <div align="center">

        <table width="100%" cellspacing="0" cellpadding="10px" border="0" align="center">
            <tbody>
            <tr>
                <td class="td02" align="center">
                    Архив поступлений 2019–2022&nbsp;г.г.
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" cellspacing="0" cellpadding="10px" border="0" align="center">
            <tbody>
            <tr>

                <td class="td02" width="25%" valign="top" align="left">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top" align="left">2022&nbsp;год:
                                <hr>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=6">июнь</a>
                                    &nbsp;<font size="-1" color="#808080">(80&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=5">май</a>
                                    &nbsp;<font size="-1" color="#808080">(102&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=4">апрель</a>
                                    &nbsp;<font size="-1" color="#808080">(130&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=3">март</a>
                                    &nbsp;<font size="-1" color="#808080">(108&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=2">февраль</a>
                                    &nbsp;<font size="-1" color="#808080">(70&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2022&amp;month=1">январь</a>
                                    &nbsp;<font size="-1" color="#808080">(111&nbsp;книг)</font>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td class="td02" width="25%" valign="top" align="left">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top" align="left">2021&nbsp;год:
                                <hr>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=12">декабрь</a>
                                    &nbsp;<font size="-1" color="#808080">(103&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=11">ноябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(69&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=10">октябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(102&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=9">сентябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(109&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=8">август</a>
                                    &nbsp;<font size="-1" color="#808080">(49&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=7">июль</a>
                                    &nbsp;<font size="-1" color="#808080">(81&nbsp;книга)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=6">июнь</a>
                                    &nbsp;<font size="-1" color="#808080">(90&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=5">май</a>
                                    &nbsp;<font size="-1" color="#808080">(120&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=4">апрель</a>
                                    &nbsp;<font size="-1" color="#808080">(113&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=3">март</a>
                                    &nbsp;<font size="-1" color="#808080">(90&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=2">февраль</a>
                                    &nbsp;<font size="-1" color="#808080">(88&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2021&amp;month=1">январь</a>
                                    &nbsp;<font size="-1" color="#808080">(59&nbsp;книг)</font>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td class="td02" width="25%" valign="top" align="left">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top" align="left">2020&nbsp;год:
                                <hr>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=12">декабрь</a>
                                    &nbsp;<font size="-1" color="#808080">(60&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=11">ноябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(57&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=10">октябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(38&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=9">сентябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(50&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=8">август</a>
                                    &nbsp;<font size="-1" color="#808080">(65&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=7">июль</a>
                                    &nbsp;<font size="-1" color="#808080">(67&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=6">июнь</a>
                                    &nbsp;<font size="-1" color="#808080">(61&nbsp;книга)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=5">май</a>
                                    &nbsp;<font size="-1" color="#808080">(42&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=4">апрель</a>
                                    &nbsp;<font size="-1" color="#808080">(46&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=3">март</a>
                                    &nbsp;<font size="-1" color="#808080">(59&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=2">февраль</a>
                                    &nbsp;<font size="-1" color="#808080">(65&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2020&amp;month=1">январь</a>
                                    &nbsp;<font size="-1" color="#808080">(59&nbsp;книг)</font>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td class="td02" width="25%" valign="top" align="left">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top" align="left">2019&nbsp;год:
                                <hr>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=12">декабрь</a>
                                    &nbsp;<font size="-1" color="#808080">(69&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=11">ноябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(52&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=10">октябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(48&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=9">сентябрь</a>
                                    &nbsp;<font size="-1" color="#808080">(55&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=8">август</a>
                                    &nbsp;<font size="-1" color="#808080">(62&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=7">июль</a>
                                    &nbsp;<font size="-1" color="#808080">(45&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=6">июнь</a>
                                    &nbsp;<font size="-1" color="#808080">(60&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=5">май</a>
                                    &nbsp;<font size="-1" color="#808080">(47&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=4">апрель</a>
                                    &nbsp;<font size="-1" color="#808080">(44&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=3">март</a>
                                    &nbsp;<font size="-1" color="#808080">(52&nbsp;книги)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=2">февраль</a>
                                    &nbsp;<font size="-1" color="#808080">(45&nbsp;книг)</font>
                                </div>

                                <div>
                                    <a href="/?view=month&amp;year=2019&amp;month=1">январь</a>
                                    &nbsp;<font size="-1" color="#808080">(46&nbsp;книг)</font>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


    <br>
    <div align="center"><font size="+1"><b>Последние поступления</b></font></div>
    <br>

    <table cellspacing="0" cellpadding="5px" border="0">
        <tbody>
        <tr>
            <td class="td02" align="center">Дата<br>поступления</td>
            <td class="td02" align="center">Книга</td>
            <td class="td02" align="center">&nbsp;&nbsp;Цена,&nbsp;р.&nbsp;&nbsp;</td>
        </tr>
        <br><br>
        </tbody>
    </table>

</td>
{% endblock %}