{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}

<td valign="top">


    <table width="600px" border="0px" align="center">
        <tbody>
        <tr>
            <td valign="top">
                <div align="center">
                    <font size="+1"><b>Информация об оплате и о доставке заказа</b></font><br><br>
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top" align="left">

                                При оформлении заказа необходимо оставить адрес электронной почты или номер телефона.
                                Обработка заказа происходит в течение рабочего дня или на следующий рабочий день.
                                <!--Заказанные книги можно забрать из магазина самостоятельно, не оплачивая доставку.-->
                                Стоимость доставки курьером по Москве (в пределах МКАД) — 350 рублей.
                                Стоимость почтовой доставки по России и в другие страны зависит от общего веса книг и от
                                тарифного пояса Почты России.
                                <!--Заказ можно оплатить наличными в магазине и через курьера.-->
                                По почте книги высылаются только после внесения полной предоплаты с помощью следующих
                                платёжных систем:
                                <ul>
                                    <li>«<a rel="nofollow" href="http://www.qiwi.ru/" target="_blank">Qiwi</a>», номер
                                        кошелька +7 (917) 571-72-38
                                    </li>
                                    <li>«<a rel="nofollow"
                                            href="http://www.rosbank.ru/ru/persons/banking_services/allur.php"
                                            target="_blank">Аллюр</a>»&nbsp;Росбанка
                                    </li>
                                    <li>«<a rel="nofollow" href="http://www.sbrf.ru/ru/person/transfers/blitz/"
                                            target="_blank">Блиц</a>»&nbsp;Сбербанка
                                    </li>
                                    <li>«<a rel="nofollow" href="http://www.westernunion.ru/" target="_blank">Western
                                        Union</a>»
                                    </li>
                                    <li>«<a rel="nofollow" href="http://www.contact-sys.com/"
                                            target="_blank">Contact</a>»
                                    </li>
                                    <li>и прочих</li>
                                </ul>
                                <br>
                                <font color="#ff5500">Внимание! Наложенным платежом книги не высылаются!</font><br>
                                К нам приходит множество комментариев с просьбой отправить книги наложенным платежом.
                                Вот примеры:<br>
                                <ul>
                                    <li>
                                        <em>Необходимо ввести возможность оплаты покупок наложенным платежом по почте. У
                                            Вас есть очень интересные книги, но их невозможно купить не-москвичам.<br>
                                            С уважением, Алексей К., k******@yandex.ru</em>
                                    </li>
                                    <br>
                                    <li>
                                        <em>Оплачивать наложенным платежом при получении гораздо удобнее и надёжнее для
                                            получателя. А так - всё замечательно, от обилия интересной и полезной
                                            литературы глаза разбегаются. Радует, что есть такой магазин, где не
                                            политбеллетристика, а реально научные книги продаются.<br>
                                            (без подписи)</em>
                                    </li>
                                </ul>
                                Почему мы отказались от этого способа оплаты? Дело в том, что в случае неполучения книг
                                заказчиком в почтовом отделении книги возвращаются в магазин с пометкой «отказ», и
                                обратный путь они проходят при очень неаккуратном обращении сотрудников почты,
                                возвращаясь в магазин в таком виде, в котором их уже нельзя продавать. В итоге даже
                                из-за небольшого процента отказов оплата книг наложенным платежом становится для нашего
                                магазина очень невыгодной, так как наценка на продаваемые нами книги минимальна для
                                российского книжного рынка.
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </td>
        </tr>
        </tbody>
    </table>


</td>
{% endblock %}