{% extends 'main/main.html' %}

{% block title %}
Книжный магазин &laquo;Русская деревня&raquo; - Редкая литература
{% endblock %}

{% block content %}

<td valign="top">


    <div align="center"><font size="+1"><b>Тематический каталог</b></font></div>
    <br>
    <table valign="middle" width="50%" height="50%" border="0" align="center">
        <tbody>
        <tr>
            <td valign="top" align="center">
                <div width="50%" align="center">

                    &nbsp;<a href="/?view=cat&amp;id=115" title="125&nbsp;книг"><font size="4">Археология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=110" title="52&nbsp;книги"><font size="3">Библиография</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=120" title="757&nbsp;книг"><font size="6">БУКИНИСТИЧЕСКОЕ&nbsp;ИЗДАНИЕ</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=102" title="435&nbsp;книг"><font size="5">Военные&nbsp;науки</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=92" title="560&nbsp;книг"><font size="5">Воспоминания.&nbsp;Переписка</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=100" title="633&nbsp;книги"><font size="5">Вспомогательные&nbsp;исторические&nbsp;дисциплины</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=117" title="164&nbsp;книги"><font size="4">География</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=118" title="354&nbsp;книги"><font size="5">ЕДИНСТВЕННЫЙ&nbsp;ЭКЗЕМПЛЯР</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=109" title="554&nbsp;книги"><font size="5">Искусствоведение</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=88" title="2722&nbsp;книги"><font size="7">История</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=153" title="61&nbsp;книга"><font size="3">История&nbsp;зарубежных&nbsp;стран</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=97" title="251&nbsp;книга"><font
                        size="5">История&nbsp;церкви</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=106" title="96&nbsp;книг"><font size="4">Карты,&nbsp;атласы,&nbsp;схемы,&nbsp;расписания</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=89" title="625&nbsp;книг"><font size="5">Конфликтология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=94" title="1150&nbsp;книг"><font size="6">Краеведение</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=104" title="297&nbsp;книг"><font size="5">Культурология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=87" title="555&nbsp;книг"><font
                        size="5">Литературоведение</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=124" title="1&nbsp;книга"><font size="0">Математика</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=96" title="639&nbsp;книг"><font size="5">Международные&nbsp;отношения</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=98" title="15&nbsp;книг"><font size="2">Педагогика</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=90" title="682&nbsp;книги"><font size="6">Политология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=112" title="34&nbsp;книги"><font size="3">Психология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=114" title="165&nbsp;книг"><font size="4">Путеводители</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=113" title="123&nbsp;книги"><font size="4">Путешествия.&nbsp;Литература&nbsp;по&nbsp;автостопу</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=116" title="288&nbsp;книг"><font size="5">Религиоведение</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=111" title="20&nbsp;книг"><font
                        size="2">Собрания&nbsp;сочинений</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=91" title="291&nbsp;книга"><font size="5">Социология</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=152" title="28&nbsp;книг"><font size="2">Спорт</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=108" title="70&nbsp;книг"><font size="3">Управление</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=123" title="7&nbsp;книг"><font size="1">Физика</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=101" title="211&nbsp;книг"><font size="4">Философия</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=103" title="256&nbsp;книг"><font size="5">Экономика</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=95" title="303&nbsp;книги"><font size="5">Энциклопедии.&nbsp;Справочники</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=93" title="380&nbsp;книг"><font size="5">Этнография</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=105" title="86&nbsp;книг"><font size="3">Юридические&nbsp;науки.&nbsp;Право</font></a>

                    &nbsp;<a href="/?view=cat&amp;id=99" title="183&nbsp;книги"><font size="4">Языкознание</font></a>

                </div>
            </td>
        </tr>
        </tbody>
    </table>


</td>
{% endblock %}